@using BI_Project.Services.Departments;
@using BI_Project.Models.EntityModels;
@model BI_Project.Models.UI.BlockModel

@{
    BI_Project.Services.User.BlockDataMenuLeftModel menuData = (BI_Project.Services.User.BlockDataMenuLeftModel)ViewData["block_menu_left_data"];
    IEnumerable<EntityMenuModel> menuDataUser = (IEnumerable<EntityMenuModel>)ViewData["MenuData"];

    List<EntityCycleModel> listcycle = (List<EntityCycleModel>)ViewData["listcycle"];
    List<EntityAreaModel> listarea = (List<EntityAreaModel>)ViewData["listarea"];
    List<EntityDepartmentModel> lstDepartments = (List<EntityDepartmentModel>)ViewData["departments"];
    List<EntityReportBIModel> blockData = (List<EntityReportBIModel>)Model.DataModel;
    List<EntityReportBIModel> listReport = (List<EntityReportBIModel>)ViewData["reportlist"];

}
<style>
    .form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
        padding-top: 0px;
    }
</style>

<div class="content">
    <div class="row">
        <div class="col-lg-12">
            <!-- /main charts -->
            <div class="panel panel-flat">
                <div class="panel-body">


                    <div class="table-responsive">
                        <table class="table table-bordered table-hover datatable-highlight">
                            <thead>
                                <tr>
                                    <td hidden></td>
                                    <td hidden></td>
                                    <td hidden></td>
                                    <th style="width:20px">STT</th>
                                    <th style="width:auto; min-width:100px">Tên báo cáo</th>
                                    @*<th style="width:120px">Mô tả</th>*@

                                    <th style="width:20px">Phòng ban</th>
                                    <th style="width:120px">URL Link</th>
                                    <th style="width:50px">Thao tác</th>
                            </thead>
                            <tbody>

                                @{
                                    int index = 0;
                                    string baseUrl = Url.Content("~");
                                    foreach (EntityReportBIModel item in listReport)
                                    {
                                        index++;

                                        <tr>
                                            <td hidden></td>
                                            <td hidden></td>
                                            <td hidden></td>
                                            <td>@index</td>
                                            @*<td class="menu_item_@index">@item.ReportCode</td>*@
                                            <td class="menu_item_@index">
                                                [@item.CycleName] @item.ReportName

                                                (@{
                                                    if (item.DataAuto)
                                                    {<i><span>Attach File</span></i>}
                                                    else
                                                    {<i><span>Tự động</span></i>}
                                                })
                                                <br /><i>Lĩnh vực: @item.AreaName</i>
                                            </td>
                                            @*<td class="menu_item_@index">@item.Description</td>*@
                                            <td class="menu_item_@index">@item.DepartmentCode</td>
                                            <td class="menu_item_@index">@item.UrlLink</td>

                                            <td>
                                                <a href="@(baseUrl+"ReportBi/Create?id="+item.Id)"><span class='glyphicon glyphicon-edit'></span></a>
                                                <a href="#" onclick="DeleteReport(@item.Id, '@item.ReportName')"><span class='glyphicon glyphicon-trash'></span></a>
                                            </td>
                                        </tr>
                                    }

                                }
                            </tbody>


                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <form id="form">
            <fieldset id="submitForm">
                <input type="hidden" id="Id" />
            </fieldset>
        </form>


        <!--popup confirm delete-->
        <div class="modal fade" id="DeleteConfirmation">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <a href="#" class="close" data-dismiss="modal">&times;</a>
                        <h4>Xóa yêu cầu báo cáo</h4>
                    </div>
                    <div class="modal-body">
                        <h4>
                            Bạn có chắc chắn muốn xóa <label id="lblTitle"></label>?
                        </h4>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn btn-primary" data-dismiss="modal" id="r">Cancel</a>
                        <a href="#" class="btn btn-danger" onclick="ConfirmDelete()">Confirm</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script>

        // popup cửa sổ thêm mới yêu cầu báo cáo
        function AddNewReport() {
            $("#form")[0].reset();
            $("#Id").val(0);
            $("#Title").val('');
            $("#myModal").modal();
        };


        // popup cửa sổ sửa yêu cầu báo cáo
        function EditReport(reportId) {
            var url = "/ReportBi/GetReportById?reportId=" + reportId;
            $("#myModal").modal();
            $.ajax({
                type: "GET",
                url: url,
                success: function (data) {
                    //alert("edit: " + data);
                    var obj = JSON.parse(data);

                    $("#Id").val(obj.Id);
                    $("#ReportCode").val(obj.ReportCode);
                    $('#ReportName').val(obj.ReportName);
                    $("#UrlLink").val(obj.UrlLink);
                    $("#Description").val(obj.Description);
                    $("#Cycle").val(obj.Cycle);
                    $("#CycleName").val(obj.CycleName);
                    $("#DepartmentId").val(obj.DepartmentId);
                    $("#DepartmentCode").val(obj.DepartmentCode);
                    $("#AreaId").val(obj.AreaId);
                    $("#DataAuto").val(obj.DataAuto);
                }
            })
        }

        // user click vào nút submit trên popup Add/edit
        $("#btnSave").click(function () {
            var data1 = $("#submitForm").serialize();
            var id = document.getElementById("Id").value;
            var reportCode = document.getElementById("ReportCode").value;
            var reportName = document.getElementById("ReportName").value;
            var description = document.getElementById("Description").value;
            var urlLink = document.getElementById("UrlLink").value;
            var DataAuto = document.getElementById("DataAuto").value;

            var dataform = { 'Id': id, 'ReportCode': reportCode, 'ReportName': reportName, 'Description': description, 'UrlLink': urlLink, 'DataAuto': DataAuto };

            $.ajax({
                type: "Post",
                url: "/ReportBi/Save",
                data: dataform,
                dataType: "json",
                success: function (result) {
                    alert("Cập nhật thành công");
                    location.reload();
                    //window.location.href = "/ReportRequire/List";
                    $("#MyModal").modal("hide");
                }
            })
        })

        //Show The Popup Modal For DeleteComfirmation
        function DeleteReport(reportId, title) {

            $("#Id").val(reportId);
            document.getElementById('lblTitle').innerHTML = " báo cáo " + title;

            $("#DeleteConfirmation").modal("show");
        }

        var ConfirmDelete = function () {
            var id = $("#Id").val();

            $.ajax({
                type: "POST",
                url: "/ReportBi/Delete?id=" + id,
                success: function (result) {
                    $("#DeleteConfirmation").modal("hide");
                    //$(".row_" + StuId).remove();
                    location.reload();
                }
            })
        }




    </script>
