@using BI_Project.Models.EntityModels;
@using BI_Project.Services.BCGB;
@using BI_Project.Services.GBTask;

@{

    List<EntityReportBIModel> lstReporConfirmtBI = (List<EntityReportBIModel>)ViewData["reportList"];
    var ReportRequirementId = "";
    if (ViewData["data_form"] != null)
    {
        EntityReportConfirmModel confirm = (EntityReportConfirmModel)ViewData["data_form"];
        ReportRequirementId = confirm.ReportRequirementId.ToString();
    }

    if (ViewData["ReportRequirementId"] != null)
    {
        ReportRequirementId = ViewData["ReportRequirementId"].ToString();

    }

}

<div class="table-responsive">
    <table class="table table-bordered table-hover datatable-highlight" id="XNBCTable">
        <thead>
            <tr>
                <th>STT</th>
                <th>Tên báo cáo</th>
                <th>Ban phụ trách</th>
                <th>Phương thức TT</th>
                <th>Trạng thái</th>
                <th>Số liệu</th>
                <th>T.Gian XN</th>
                <th>Phương thức TTDL</th>
                <th>Xem BC</th>
                <th>Xác nhận</th>
            </tr>
        </thead>
        <tbody>
            @{
                int index = 0;
                string baseUrl = Url.Content("~");
                foreach (EntityReportBIModel item in lstReporConfirmtBI)
                {
                    index++;
                    <tr>
                        <td>@index</td>
                        <td class="menu_item_@index">@item.ReportName </td>
                        <td class="menu_item_@index">@item.DepartmentCode </td>
                        <td class="menu_item_@index">
                            @{ if (item.DataAuto)
                                { <span>Attach File</span> }
                                else
                                { <span>Tự động</span> } }
                        </td>
                        <td class="menu_item_@index">
                            @{ if (item.ConfirmStatus)
                                { <span>Đã XN</span> }
                                else
                                { <span>Chưa XN</span> } }
                        </td>
                        <td class="menu_item_@index">
                            @{ if (item.DataStatus)
                                { <span>Đúng</span> }
                                else
                                { <span>Chưa đúng</span> } }
                        </td>
                        <td class="menu_item_@index">
                            @{ if (item.ConfirmDate != null && item.ConfirmDate.Year > 1)
                                {
                                    <span> @item.ConfirmDate.ToString("dd/MM/yyyy HH:mm") </span> }
                                else
                                { <span></span> }
                            }
                        </td>
                        <td class="menu_item_@index">
                            @{ if (item.DataAuto)
                                { <span>Dữ liệu tự động</span> }
                                else
                                { <span>Dữ liệu thủ công</span> } }
                        </td>
                        <td>
                            <a href="#" onclick="onDetail(@item.Id)"><span class="glyphicon glyphicon-eye-open"></span></a>
                        </td>
                        <td>
                            <a href="#" onclick="onConfirm(@ReportRequirementId, @item.Id)"><span class="glyphicon glyphicon-ok"></span></a>
                            <a href="#" onclick="onHistory(@ReportRequirementId, @item.Id)"><span class="glyphicon glyphicon-time"></span></a>

                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<script type="text/javascript">

    $('#XNBCTable').dataTable({
        "paging": false,
        "bInfo": false,
        "autoWidth": false,
        "columns": [
            { "width": "20px" },
            { "width": "20%" },
            { "width": "20%" },
            { "width": "20px" },
            { "width": "20%" },
            { "width": "20px" },
            { "width": "20px" }
        ]
    });

</script>