
@using BI_Project.Services.BCGB;

@using BI_Project.Models.EntityModels;
@{
    List<EntityReportConfirmHistoryModel> ListReportConfirmHistory = new List<EntityReportConfirmHistoryModel>();
    if (ViewData["ListReportConfirmHistory"] != null)
    {
        ListReportConfirmHistory = (List<EntityReportConfirmHistoryModel>)ViewData["ListReportConfirmHistory"];
    }
}
<div class="table-responsive">
    <table class="table table-bordered table-hover datatable-highlight">
        <thead>
            <tr>
                <th style="width:10px">STT</th>
                <th style="width:120px">Số liệu</th>
                <th style="min-width:150px">Ý kiến</th>
                <th style="width:100px">Thời gian XN</th>
                <th style="width:50px">Người XN</th>
                <th style="width:10px">Xem số liệu</th>
            </tr>
        </thead>
        <tbody>
            @{
                int index2 = 0;
                foreach (EntityReportConfirmHistoryModel item2 in ListReportConfirmHistory)
                {
                    index2++;
                    <tr>
                        <td>@index2</td>
                        <td class="menu_item_1">
                            @{ if (item2.DataStatus)
                                { <span>Đúng</span> }
                                else
                                { <span>Chưa đúng</span> }}
                        </td>
                        <td class="menu_item_@index2">@item2.Description </td>
                        <td class="menu_item_@index2">@item2.ConfirmDate.ToString("dd/MM/yyyy HH:mm")</td>
                        <td class="menu_item_@index2">@item2.CreatorId</td>
                        <td>
                            <a href="@item2.ReportPathFile" target="_blank">Xem</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>