@using BI_Project.Models.EntityModels;
@model BI_Project.Models.UI.BlockModel
@using BI_Project.Services.BCGB;
@using BI_Project.Services.GBTask;

@{
    string baseUrl = Url.Content("~");
    EntityCreateTaskModel GBTaskDetail = new EntityCreateTaskModel();
    List<EntityGBTaskModel> LISTTASK = (List<EntityGBTaskModel>)ViewData["LISTTASK"];
    BlockDataBCGBDetailModel BCGBDetail = new BlockDataBCGBDetailModel();
    
    List<EntityGBRPTEvaluateModel> lstEvaluate = new List<EntityGBRPTEvaluateModel>();
    if (ViewData["Evaluates"] != null)
    {
        lstEvaluate = (List<EntityGBRPTEvaluateModel>)ViewData["Evaluates"];
    }

    List<EntityDepartmentModel> lstDepartments = new List<EntityDepartmentModel>();
    if (ViewData["departments"] != null)
    {
        lstDepartments = (List<EntityDepartmentModel>)ViewData["departments"];
    }

    var currentDepartmentCode = "";
    if (ViewData["CurrentDepartmentCode"] != null)
    {
        currentDepartmentCode = ViewData["CurrentDepartmentCode"].ToString();
    }

    var currentStatus = "";
    if (ViewData["currentStatus"] != null)
    { currentStatus = ViewData["currentStatus"].ToString(); }

    List<EntityReportBIModel> lstReporConfirmtBI = new List<EntityReportBIModel>();
    if (ViewData["reportList"] != null)
    {
        lstReporConfirmtBI = (List<EntityReportBIModel>)ViewData["reportList"];
    }

    var ReportRequirementId = "";
    if (ViewData["ReportRequirementId"] != null)
    {
        ReportRequirementId = ViewData["ReportRequirementId"].ToString();
    }

    BI_Project.Services.ReportRequire.ReportRequireModel ReportRequirementSelected = new BI_Project.Services.ReportRequire.ReportRequireModel();
    if (ViewData["ReportRequirementSelected"] != null)
    {
        ReportRequirementSelected = (BI_Project.Services.ReportRequire.ReportRequireModel)ViewData["ReportRequirementSelected"];
    }

    List<EntityReportConfirmHistoryModel> ListReportConfirmHistory = new List<EntityReportConfirmHistoryModel>();
    if (ViewData["ListReportConfirmHistory"] != null)
    {
        ListReportConfirmHistory = (List<EntityReportConfirmHistoryModel>)ViewData["ListReportConfirmHistory"];
    }
}

<style>
    .form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
        padding-top: 0px;
    }

    .mt-2 {
        margin-top: 1rem;
    }

    .input-group-file {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .modal-dialog {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 9999;
        overflow-y: auto;
    }
</style>

<div class="content">
    <div class="panel panel-flat">
        <div class="panel-body">
            <h4 class="modal-title"> @ReportRequirementSelected.Title</h4>
            <p>Hạn hoàn thành xác nhận: @ReportRequirementSelected.ConfirmExpired.ToString("dd/MM/yyyy")</p>
            <hr />
            <h4 class="modal-title">Ghi chú</h4>
            <p>@ReportRequirementSelected.Description</p>
            <h4 class="modal-title">Chu kì</h4>
            <p>
                @{ if (@ReportRequirementSelected.Cycle == "MONTH")
                    { <span>Tháng</span> }
                    else if (@ReportRequirementSelected.Cycle == "YEAR")
                    { <span>Năm</span> } }
            </p>

            <div class="row">
                <div class="col-lg-12">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#tabReportConfirm" aria-controls="profile" role="tab" data-toggle="tab">Tình hình xác nhận số liệu báo cáo</a></li>
                        <li role="presentation"><a href="#task" aria-controls="home" role="tab" data-toggle="tab">Công việc</a></li>
                        <li role="presentation"><a href="#tabEvalue" aria-controls="messages" role="tab" data-toggle="tab">Đánh giá</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        @*Tab 1*@
                        <div role="tabpanel" class="tab-pane active" id="tabReportConfirm">
                            @{Html.RenderPartial("_Reload", new ViewDataDictionary { { "reportList", lstReporConfirmtBI }, { "ReportRequirementId", ReportRequirementId } });}
                        </div>
                        @*Tab 2*@
                        <div role="tabpanel" class="tab-pane" id="task">
                            <div class="row" style="margin: 0 1px 0 1px;">
                                <button class="btn btn-primary" onclick="onAddNewTask(@ReportRequirementId)">Thêm mới công việc</button>
                                <input type="hidden" name="ReportRequirementId" value="@ReportRequirementId" />
                            </div>
                            @{Html.RenderPartial("~/Views/GBTask/_Task.cshtml", new ViewDataDictionary { { "LISTTASK", LISTTASK }, { "ReportRequirementId", ReportRequirementId } });}
                        </div>
                        @*Tab 3*@
                        <div role="tabpanel" class="tab-pane" id="tabEvalue">
                            @{Html.RenderPartial("~/Views/GBTask/_Evalue.cshtml", new ViewDataDictionary { { "Evaluates", lstEvaluate } }); }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--dialog thêm/sửa công việc-->
        <div id="taskdetailmodal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <a href="#" class="close" data-dismiss="modal">&times;</a>
                        <h4 class="modal-title">Thông tin công việc</h4>
                    </div>
                    <div class="modal-body">
                        <fieldset id="submitForm">
                            <input type="hidden" id="Task_Id" name="Id" />
                            <input type="hidden" id="Task_ReportRequirementId" name="ReportRequirementId" />

                            <div class="form-group">
                                <label for="Task_Title" class="col-md-10">Nội dung công việc<span class="required" style="color: red;">*</span></label>
                                <input type="text" class="form-control" id="Task_Title" name="Title">
                            </div>
                            <div class="form-group">
                                <label for="Task_Deadline">Hạn hoàn thành<span class="required" style="color: red;">*</span></label>
                                <input id="Task_Deadline" name="Task_Deadline" type="text" data-date-format="dd/mm/yy"
                                       class="form-control" placeholder="ngày/tháng/năm" />
                            </div>
                            <div class="form-group">
                                <label for="LstSelectedDepartment" class="col-md-10">Ban thực hiện</label>
                                <select class="select select2-hidden-accessible" id="Task_DepartmentCode" name="DepartmentCode" data-live-search="true">
                                    @{
                                        <option value="" hidden selected disabled></option>
                                        foreach (EntityDepartmentModel depart in lstDepartments)
                                        {
                                            if (currentDepartmentCode == depart.Code)
                                            {
                                                <option value="@depart.Code" class="" selected>@Html.Raw(depart.Name)</option>
                                            }
                                            else
                                            {
                                                <option value="@depart.Code" class="">@Html.Raw(depart.Name)</option>
                                            }

                                        } }
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="Comment" class="col-md-10">Mô tả công việc<span class="required" style="color: red;">*</span></label>
                                <textarea type="text" class="form-control" id="Description_2" name="Description" rows="2" style="resize:none" value="@GBTaskDetail.Description"></textarea>
                            </div>
                            <div class="form-group">
                                <button type="submit" id="btnSend" class="btn btn-success" style="margin-top: 8px;">Gửi</button>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>

        <!--dialog cập nhật kết quả công việc-->
        <div id="taskconfirmmodal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Thông tin xác nhận</h4>
                    </div>
                    <div class="panel-body">
                        <fieldset id="formConfirmTask">
                            <input type="hidden" id="Id_1" name="Id" />
                            <input type="hidden" id="ReportRequirementId_1" name="ReportRequirementId" />
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label for="Title_1" class="col-md-10">Nội dung công việc<span class="required" style="color: red;">*</span></label>
                                    <input type="text" disabled="disabled" class="form-control" id="Title_1" name="Title">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label for="Deadline_1" class="col-md-10">Hạn thoàn thành<span class="required" style="color: red;">*</span></label>
                                    <input type="text" disabled="disabled" class="form-control" id="Deadline_1" name="Deadline">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label for="DepartmentCode_1" class="col-md-10">Ban thực hiện<span class="required" style="color: red;">*</span></label>
                                    <input type="text" disabled="disabled" class="form-control" id="DepartmentCode_1" name="DepartmentCode">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Comment" class="col-md-10">Mô tả công việc<span class="required" style="color: red;">*</span></label>
                                <div class="col-md-12">
                                    <textarea type="text" class="form-control" id="Description" name="Description" rows="2" style="resize:none"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Comment" class="col-md-10">Tình trạng<span class="required" style="color: red;">*</span></label>
                                <div class="col-md-12">
                                    <select class="select select2-hidden-accessible" id="Status" name="Status" data-live-search="true">
                                        @{
                                            <option value="" hidden selected disabled></option>
                                            if (currentStatus == "0")
                                            {
                                                <option value="0" class="" selected>Chưa hoàn thành</option>

                                                <option value="1" class="">Hoàn thành</option>
                                            }
                                            else if (currentStatus == "1")
                                            {
                                                <option value="1" class="" selected>Hoàn thành</option>
                                                <option value="0" class="">Chưa hoàn thành</option>

                                            }
                                            else
                                            {
                                                <option value="0" class="" selected>Chưa hoàn thành</option>

                                                <option value="1" class="">Hoàn thành</option>
                                            }

                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Comment" class="col-md-10">Kết quả<span class="required" style="color: red;">*</span></label>
                                <div class="col-md-12">
                                    <textarea type="text" class="form-control" id="Comment" name="Comment" rows="2" style="resize:none"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <input type="file" name="ImageFile" value="@GBTaskDetail.ImageFile" />
                                    <input type="text" readonly="readonly" class="form-control" id="ResultFile" name="ResultFile">
                                </div>
                            </div>
                            <br />
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <button type="submit" id="btnUpdateTask" class="btn btn-success">Cập nhật</button>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>

        <!--dialog cập nhật kết quả đánh giá công việc-->
        <div id="taskEvaluatemodal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Thông tin đánh giá</h4>
                    </div>
                    <div class="modal-body">
                        <fieldset id="formEvaluate">
                            <input type="hidden" id="Evaluate_Id" name="Id" />
                            <input type="hidden" id="Evaluate_ReportRequirementId" name="ReportRequirementId" />
                            <input type="hidden" id="Evaluate_Total" name="Total" />
                            <input type="hidden" id="Evaluate_TaskDoneNum" name="TaskDoneNum" />
                            <input type="hidden" id="Evaluate_TaskProcessNum" name="TaskProcessNum" />
                            <input type="hidden" id="Evaluate_DataCorrectNum" name="DataCorrectNum" />
                            <input type="hidden" id="Evaluate_DataInCorrectNum" name="DataInCorrectNum" />
                            <input type="hidden" id="Evaluate_ReportUnConfirmNum" name="ReportUnConfirmNum" />
                            <input type="hidden" id="Evaluate_DepartmentCode" name="DepartmentCode" />
                            <div class="form-group row">
                                <label for="Evaluate_DepartmentCode_Evaluate" class="col-md-10">Ban đánh giá</label>
                                <div class="col-md-12">
                                    <select disabled="disabled" class="select select2-hidden-accessible" id="Evaluate_DepartmentCode_Evaluate" name="DepartmentCode_Evaluate" data-live-search="true">
                                        @{
                                            <option value="" hidden selected disabled></option>
                                            foreach (EntityDepartmentModel depart in lstDepartments)
                                            {
                                                if (currentDepartmentCode == depart.Code)
                                                {
                                                    <option value="@depart.Code" class="" selected>@Html.Raw(depart.Name)</option>
                                                }
                                                else
                                                {
                                                    <option value="@depart.Code" class="">@Html.Raw(depart.Name)</option>
                                                }
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Evaluate_Description" class="col-md-10">Đánh giá<span class="required" style="color: red;">*</span></label>
                                <div class="col-md-12">
                                    <textarea class="form-control" style="resize:none" id="Evaluate_Description" name="Description" rows="2"> </textarea>
                                </div>
                            </div>
                            <br />
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <button type="submit" id="btnSaveEval" class="btn btn-success">Gửi</button>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>

        <!--dialog xác nhận số liệu báo cáo-->
        <div class="modal fade" id="dlgReportConfirm" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Xác nhận số liệu báo cáo</h4>
                    </div>
                    <div class="modal-body">
                        <fieldset id="formConfirmReport">
                            <input type="hidden" id="T_ReportRequireId" name="ReportRequirementId" value="@ReportRequirementId" />
                            <input type="hidden" id="T_ReporBI_Id" name="ReportId" />
                            <input type="hidden" id="T_DataStatus" name="DataStatus" />

                            <div class="row">
                                <label for="form-field-1" class="col-sm-1 control-label" style="width: 30%">
                                    Yêu cầu XN BC
                                </label>
                                <div class="col-md-3" style="width: 70%">
                                    <input type="text" disabled value="@ReportRequirementSelected.Title" style="width: 100%; border: none; margin: 8px 0 8px 0;">
                                </div>
                            </div>

                            <div class="row mt-2">
                                <label for="form-field-1" class="col-sm-1 control-label" style="width: 30%">
                                    Báo cáo xác nhận
                                </label>
                                <div class="col-md-3" style="width: 70%">
                                    <input type="text" disabled id="T_reportBIName" name="ReportBIName" style="width: 100%; border: none; margin: 8px 0 8px 0;">
                                </div>
                            </div>

                            <div class="row" style="display:flex; align-items: baseline;">
                                <input type="checkbox" id="dts" name="dts" class="col-sm-1">
                                <label for="L_DataStatus" style="margin-left: 10px;">Số liệu đúng</label>
                            </div>

                            <div class="row">
                                <label for="Description" class="col-md-1" style="width: 100%">
                                    Ý kiến (nếu số liệu chưa đúng)
                                    <span class="required" style="color: red;">*</span>
                                </label>
                                <div class="col-md-10" style="width: 100%">
                                    <textarea type="text" class="form-control" id="T_Description" name="Description" style="resize: none;"></textarea>
                                </div>
                            </div>
                            <div class="row input-group-file mt-2">
                                <label class="col-md-1" style="width: 30%">
                                    File số liệu báo cáo
                                </label>
                                <input type="file" name="ImageFile" />
                                <div class="col-md-10" style="width: 100%">
                                    <input type="text" readonly="readonly" class="form-control" id="T_ReportPathFile" name="ReportPathFile">
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-2">
                                    <button type="submit" id="btnSave" class="btn btn-success">Xác nhận</button>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>

        <!--dialog lịch sử xác nhận báo cáo-->
        <div class="modal fade" id="dlgReportConfirmHistory" role="dialog">
            <div class="modal-dialog" style="width: 800px">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Lịch sử xác nhận số liệu báo cáo</h4>
                    </div>
                    <div class="panel-body" style="height: 600px; overflow-y:auto">
                        <div class="row">
                            <div class="panel-heading" id="listHistoryView">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--dialog ảnh chi tiết báo cáo được chọn từ danh sách lịch sử xác nhận báo cáo-->
        <div class="modal fade" id="historyDetailModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Chi tiết báo cáo</h4>
                    </div>
                    <div class="panel-body">

                        @using (Html.BeginForm("History", "BCGB", FormMethod.Post, new { data_toggle = "validator", role = "form" }))
                        {
                            //put some thing here
                        }

                    </div>
                </div>
            </div>
        </div>

        <!--dialog nhúng chi tiết báo cáo-->
        <div class="modal fade" id="dlgViewReportTableau" role="dialog">
            <div class="modal-dialog" style="width:95% !important">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Chi tiết báo cáo</h4>
                    </div>
                    <div class="panel-body">
                        <div class="">
                            <div class="col-md-9"> <div id="dlgViewReportTableauContent"></div></div>
                            <div class="">
                                <fieldset id="formConfirmReport_auto">
                                    <input type="hidden" id="T_ReportRequireId" name="ReportRequirementId" value="@ReportRequirementId" />
                                    <input type="hidden" id="T_ReporBI_Id" name="ReportId" />
                                    <input type="hidden" id="L_DataStatus" name="DataStatus" />
                                    <div class="" style="display:flex; align-items: baseline;">
                                        <input type="checkbox" id="dts_auto" name="dts_auto" class="col-sm-1">
                                        <label for="L_DataStatus" style="margin-left: 10px;">Số liệu đúng</label>
                                    </div>

                                    <label for="Description" class="col-md-12">
                                        Ý kiến (nếu số liệu chưa đúng)
                                        <span class="required" style="color: red;">*</span>
                                    </label>
                                    <div class="col-md-10" style="width: 100%">
                                        <textarea type="text" class="form-control" id="T_Description_auto" name="Description" style="resize: none;"></textarea>
                                    </div>

                                    <label class="col-md-12">
                                        File số liệu báo cáo
                                    </label>
                                    <div class="col-md-12"><input type="file" name="ImageFile" /></div>

                                    <div class="col-md-12">
                                        <input type="text" readonly="readonly" class="form-control" id="T_ReportPathFile_auto" name="ReportPathFile">
                                    </div>

                                    <div class="col-md-2 mt-5">
                                        <button type="submit" id="btnSave_auto" class="btn btn-success">Xác nhận</button>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--popup confirm delete-->
        <div class="modal fade" id="DeleteConfirmation">
            <div class="modal-dialog">
                <div class="modal-content">
                    <fieldset id="formDelete">
                        <div class="modal-header">
                            <a href="#" class="close" data-dismiss="modal">&times;</a>
                            <h4>Xóa yêu cầu báo cáo</h4>
                        </div>
                        <div class="modal-body">

                            <input type="hidden" id="TaskId" name="TaskId" />
                            <h4>
                                Bạn có chắc chắn muốn xóa <label id="lblTitle"></label>?
                            </h4>
                        </div>
                        <div class="modal-footer">
                            <a href="#" class="btn btn-primary" data-dismiss="modal" id="r">Cancel</a>
                            <a href="#" class="btn btn-danger" onclick="ConfirmDelete()">Confirm</a>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>

        <script type="text/javascript">

            /*thinhnd*/
            // popup cửa sổ xác nhận báo cáo
            function onConfirm(ReportRquireId, ReporBI_Id) {
                var url = "/BCGB/GetConfirmById?ReportRquireId=" + ReportRquireId + "&ReporBI_Id=" + ReporBI_Id;
                var obj;
                $("#T_ReportRequireId").val(ReportRquireId);
                $("#T_ReporBI_Id").val(ReporBI_Id);
                $("#dlgReportConfirm").modal();
                $.ajax({
                    type: "GET",
                    url: url,
                    success: function (data) {
                        obj = JSON.parse(data);
                        $("#T_DataStatus").val(obj.DataStatus);
                        $("#T_reportBIName").val(obj.ReportBIName);
                        $("#T_Description").val(obj.Description);
                        /*$("#T_Description_auto").val(obj.Description);*/
                        $("#T_ReportPathFile").val(obj.ReportPathFile);
                       /* $("#T_ReportPathFile_auto").val(obj.ReportPathFile);*/
                        $('#dts').prop('checked', obj.DataStatus);
                    }
                })
            };

            function onDetail(reportid) {
                var url = "/BCGB/ViewReportBI?id=" + reportid
                var options = { "backdrop": "static", keyboard: true };
                $.ajax({
                    type: "GET",
                    url: url,
                    contentType: "application/json; charset=utf-8",
                    data: { "id": reportid },
                    dataType: "html",
                    success: function (data) {
                        $('#dlgViewReportTableauContent').html(data);
                        $('#dlgViewReportTableau').modal(options);
                        $('#dlgViewReportTableau').modal('show');
                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
                var ReportRquireId = $("#T_ReportRequireId").val();
                var url2 = "/BCGB/GetConfirmById?ReportRquireId=" + ReportRquireId + "&ReporBI_Id=" + reportid;                
                $("#T_ReporBI_Id").val(reportid);
                $.ajax({
                    type: "GET",
                    url: url2,
                    success: function (data) {
                        obj = JSON.parse(data);                       
                        $("#L_DataStatus").val(obj.DataStatus);
                        $("#T_reportBIName").val(obj.ReportBIName);
                        /*$("#T_Description").val(obj.Description);*/
                        $("#T_Description_auto").val(obj.Description);
                       /* $("#T_ReportPathFile").val(obj.ReportPathFile);*/
                        $("#T_ReportPathFile_auto").val(obj.ReportPathFile);
                        /*$('#dts').attr('checked', obj.DataStatus);*/
                        $('#dts_auto').prop('checked', obj.DataStatus);
                    }
                })
            };

            function onHistory(ReportRequirementId, ReporBI_Id) {
                var url = "/BCGB/History?ReportRequirementId=" + ReportRequirementId + "&ReporBI_Id=" + ReporBI_Id;
                $("#dlgReportConfirmHistory").modal();
                $.ajax({
                    async: false,
                    url: url,
                    contentType: "application/json; charset=utf-8",
                    data: '',
                    type: "get",
                    dataType: 'html',
                    contentType: 'application/json; charset=utf-8',
                    success: function (resulthtml) {
                        $("#listHistoryView").html(resulthtml);
                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                })
            };

            function onHistoryDetail(historyConfirmId) {
                var url = "/BCGB/HistoryDetail?id=" + historyConfirmId
                $("#historyDetailModal").modal();
                $.ajax({
                    type: "GET",
                    url: url,
                    success: function (data) {
                    }
                })
            };

            $("#btnSave").click(function () {
                var data1 = $("#formConfirmReport").serialize();

                var T_ReportRequireId = $("#T_ReportRequireId").val();
                var T_ReporBI_Id = $("#T_ReporBI_Id").val();
                var T_DataStatus = $("#T_DataStatus").val();
                var T_Description = $("#T_Description").val();
                var T_ReportPathFile = $("#T_ReportPathFile").val();
                var dataform = {
                    'ReportRequirementId': T_ReportRequireId,
                    'ReportId': T_ReporBI_Id,
                    'DataStatus': T_DataStatus,
                    'Description': T_Description,
                    'ReportPathFile': T_ReportPathFile
                };

                $.ajax({
                    type: "POST",
                    url: "/BCGB/Save",
                    data: JSON.stringify(dataform),
                    dataType: "html",
                    contentType: 'application/json; charset=utf-8',
                    success: function (result) {
                        $("#dlgReportConfirm").modal("hide");
                        $("#tabReportConfirm").html(result);
                    },
                    error: function (er) {
                        alert("Có lỗi xảy ra.");
                        console.log(er);
                    }
                })
            })

            $("#btnSave_auto").click(function () {
                var data1 = $("#formConfirmReport_auto").serialize();

                var T_ReportRequireId = $("#T_ReportRequireId").val();
                var T_ReporBI_Id = $("#T_ReporBI_Id").val();
                var T_DataStatus = $("#L_DataStatus").val();
                var T_Description = $("#T_Description_auto").val();
                var T_ReportPathFile = $("#T_ReportPathFile_auto").val();
                var dataform = {
                    'ReportRequirementId': T_ReportRequireId,
                    'ReportId': T_ReporBI_Id,
                    'DataStatus': T_DataStatus,
                    'Description': T_Description,
                    'ReportPathFile': T_ReportPathFile
                };

                $.ajax({
                    type: "POST",
                    url: "/BCGB/Save",
                    data: JSON.stringify(dataform),
                    dataType: "html",
                    contentType: 'application/json; charset=utf-8',
                    success: function (result) {
                        $("#dlgViewReportTableau").modal("hide");
                        $("#tabReportConfirm").html(result);
                    },
                    error: function (er) {
                        alert("Có lỗi xảy ra.");
                        console.log(er);
                    }
                })
            })

            $(function () {
                $("#tabs").tabs();
            });

            $("#dts_auto").change(function () {
                if ($(this).prop("checked")) {
                    $(this).val(true);
                    $("#L_DataStatus").val(true);
                } else {
                    $(this).val(false);
                    $("#L_DataStatus").val(false);
                }
            });

            $("#dts").change(function () {
                if ($(this).prop("checked")) {
                    $(this).val(true);
                    $("#T_DataStatus").val(true);
                } else {
                    $(this).val(false);
                    $("#T_DataStatus").val(false);
                }
            });

            $(function () {
                $("#Task_Deadline").datepicker({ dateFormat: "dd/mm/yy" }).val()
            });

            function onAddNewTask(id) {
                var url = "/GBTask/Create?ReportRequirementId=" + id;
                var obj;
                $("#Task_ReportRequirementId").val(id);
                $("#taskdetailmodal").modal();
                $.ajax({
                    type: "GET",
                    url: url,
                    success: function (data) {
                        obj = JSON.parse(data);
                        var arrDMY = obj.Deadline.substring(0, 10).split("-");
                        var dateDDMMYYYY = arrDMY[2] + '/' + arrDMY[1] + '/' + arrDMY[0];
                        $("#Task_Deadline").datepicker({ dateFormat: "dd-mm-yy" }).val(dateDDMMYYYY);
                        $("#Task_Id").val(obj.Id);
                        /*$("#Task_ReportRequirementId").val(obj.ReportRequirementId);*/
                        $("#Task_Title").val(obj.Title);
                        $("#Description_2").val(obj.Description);
                        $("#Task_DepartmentCode").val(obj.DepartmentCode).change();
                    }
                })
            };

            //Show The Popup Modal For DeleteComfirmation
            function DeleteTask(TaskId) {
                $("#DeleteConfirmation").modal("show");
                $.ajax({
                    success: function () {
                        $("#TaskId").val(TaskId);
                    }
                })
            }

            var ConfirmDelete = function () {
                var data1 = $("#formDelete").serialize();
                var TaskId = $("#TaskId").val();
                var dataform = {
                    'TaskId': TaskId,
                };
                $.ajax({
                    type: "POST",
                    url: "/GBTask/Delete?TaskId=" + TaskId,
                    data: JSON.stringify(dataform),
                    dataType: "html",
                    contentType: 'application/json; charset=utf-8',
                    success: function (result) {
                        $("#DeleteConfirmation").modal("hide");
                        $("#taskTable").html(result);
                    },
                    error: function (er) {
                        alert("Có lỗi xảy ra.");
                        console.log(er);
                    }
                })
            }

            function onEditTask(id) {

                var url = "/GBTask/GetTaskById?id=" + id;
                var obj;
                $("#taskdetailmodal").modal();
                $.ajax({
                    type: "GET",
                    url: url,
                    success: function (data) {
                        obj = JSON.parse(data);
                        $("#Task_Deadline").val(obj.Deadline);
                        $("#Task_Id").val(obj.Id);
                        $("#Task_ReportRequirementId").val(obj.ReportRequirementId);
                        $("#Task_Title").val(obj.Title);
                        $("#Description_2").val(obj.Description);
                        $("#Task_DepartmentCode").val(obj.DepartmentCode).change();
                    }
                })
            };

            function onConfirmTask(id) {

                var url = "/GBTask/GetTaskById?id=" + id;
                var obj;
                $("#taskconfirmmodal").modal();
                $.ajax({
                    type: "POST",
                    url: url,
                    success: function (data) {
                        obj = JSON.parse(data);
                        $("#Id_1").val(obj.Id);
                        $("#ReportRequirementId_1").val(obj.ReportRequirementId);
                        $("#Title_1").val(obj.Title);
                        $("#Deadline_1").val(obj.Deadline.substring(0, 10));
                        $("#DepartmentCode_1").val(obj.DepartmentCode);
                        $("#Status").val(obj.Status).change();
                        $("#Comment").val(obj.Comment);
                        $("#Description").val(obj.Description);
                        $("#ResultFile").val(obj.ResultFile);
                    }
                })
            };

            function onEvaluateTask(id, RptId) {
                var url = "/GBTask/GetEvaluateByDept?DepartmentCode=" + id + "&ReportRequirementId=" + RptId;
                var obj;
                $("#taskEvaluatemodal").modal();
                $.ajax({
                    type: "GET",
                    url: url,
                    success: function (data) {
                        obj = JSON.parse(data);
                        $("#Evaluate_Id").val(obj.Id);
                        $("#Evaluate_ReportRequirementId").val(obj.ReportRequirementId);
                        $("#Evaluate_Total").val(obj.Total);
                        $("#Evaluate_TaskDoneNum").val(obj.TaskDoneNum);
                        $("#Evaluate_TaskProcessNum").val(obj.TaskProcessNum);
                        $("#Evaluate_DataCorrectNum").val(obj.DataCorrectNum).change();
                        $("#Evaluate_DataInCorrectNum").val(obj.DataInCorrectNum);
                        $("#Evaluate_ReportUnConfirmNum").val(obj.ReportUnConfirmNum);
                        $("#Evaluate_ReportUnConfirmNum").val(obj.ReportUnConfirmNum);
                        $("#Evaluate_DepartmentCode").val(obj.DepartmentCode).change();
                        $("#Evaluate_DepartmentCode_Evaluate").val(obj.DepartmentCode).change();
                        $("#Evaluate_Description").val(obj.Description);

                    }
                })
            };

            //action button Gửi
            $("#btnSend").click(function () {
                var datalll = $("#submitForm").serialize();
                var Task_Deadline = $("#Task_Deadline").val();
                var Task_Id = $("#Task_Id").val();
                var Task_ReportRequirementId = $("#Task_ReportRequirementId").val();
                var Task_Title = $("#Task_Title").val();
                var Description_2 = $("#Description_2").val();
                var Task_DepartmentCode = $("#Task_DepartmentCode").val();
                var dataform = {
                    'Deadline': Task_Deadline,
                    'Id': Task_Id,
                    'ReportRequirementId': Task_ReportRequirementId,
                    'Title': Task_Title,
                    'Description': Description_2,
                    'DepartmentCode': Task_DepartmentCode
                };

                $.ajax({
                    type: "POST",
                    url: "/GBTask/Create",
                    data: JSON.stringify(dataform),
                    dataType: "html",
                    contentType: 'application/json; charset=utf-8',
                    success: function (result) {
                        debugger
                        $("#taskdetailmodal").modal("hide");
                        $("#taskTable").html(result);
                    },
                    error: function (er) {
                        alert("Có lỗi xảy ra.");
                        console.log(er);
                    }
                })
            })

            $("#btnUpdateTask").click(function () {
                var data1 = $("#formConfirmTask").serialize();

                var Id_1 = $("#Id_1").val();
                var ReportRequirementId_1 = $("#ReportRequirementId_1").val();
                var Title_1 = $("#Title_1").val();
                var Deadline_1 = $("#Deadline_1").val();
                var DepartmentCode_1 = $("#DepartmentCode_1").val();
                var Description = $("#Description").val();
                var Status = $("#Status").val();
                var Comment = $("#Comment").val();
                var ResultFile = $("#ResultFile").val();

                var dataform = {
                    'Id': Id_1,
                    'ReportRequirementId': ReportRequirementId_1,
                    'Title': Title_1,
                    'Deadline': Deadline_1,
                    'DepartmentCode': DepartmentCode_1,
                    'Description': Description,
                    'Status': Status,
                    'Comment': Comment,
                    'ResultFile': ResultFile
                };

                $.ajax({
                    type: "POST",
                    url: "/GBTask/DepartConfirm",
                    data: JSON.stringify(dataform),
                    dataType: "html",
                    contentType: 'application/json; charset=utf-8',
                    success: function (result) {
                        $("#taskconfirmmodal").modal("hide");
                        $("#taskTable").html(result);
                    },
                    error: function (er) {
                        alert("Có lỗi xảy ra.");
                        console.log(er);
                    }
                })
            })

            $("#btnSaveEval").click(function () {
                var data1 = $("#formEvaluate").serialize();

                var Evaluate_Id = $("#Evaluate_Id").val();
                var Evaluate_ReportRequirementId = $("#Evaluate_ReportRequirementId").val();
                var Evaluate_Total = $("#Evaluate_Total").val();
                var Evaluate_TaskDoneNum = $("#Evaluate_TaskDoneNum").val();
                var Evaluate_DataCorrectNum = $("#Evaluate_DataCorrectNum").val();
                var Evaluate_DataInCorrectNum = $("#Evaluate_DataInCorrectNum").val();
                var Evaluate_ReportUnConfirmNum = $("#Evaluate_ReportUnConfirmNum").val();
                var Evaluate_DepartmentCode = $("#Evaluate_DepartmentCode").val();
                var Evaluate_DepartmentCode_Evaluate = $("#Evaluate_DepartmentCode_Evaluate").val();
                var Evaluate_Description = $("#Evaluate_Description").val();
                var dataform = {
                    'Id': Evaluate_Id,
                    'ReportRequirementId': Evaluate_ReportRequirementId,
                    'Total': Evaluate_Total,
                    'TaskDoneNum': Evaluate_TaskDoneNum,
                    'DataCorrectNum': Evaluate_DataCorrectNum,
                    'DataInCorrectNum': Evaluate_DataInCorrectNum,
                    'ReportUnConfirmNum': Evaluate_ReportUnConfirmNum,
                    'DepartmentCode': Evaluate_DepartmentCode,
                    'DepartmentCode_Evaluate': Evaluate_DepartmentCode_Evaluate,
                    'Description': Evaluate_Description
                };

                $.ajax({
                    type: "POST",
                    url: "/GBTask/Evaluate",
                    data: JSON.stringify(dataform),
                    dataType: "html",
                    contentType: 'application/json; charset=utf-8',
                    success: function (result) {
                        $("#taskEvaluatemodal").modal("hide");
                        $("#tabEvalue").html(result);
                    },
                    error: function (er) {
                        alert("Có lỗi xảy ra.");
                        console.log(er);
                    }
                })
            })
        </script>
    </div>
</div>