@using BI_Project.Services.GBTask;
@using BI_Project.Helpers;
@using BI_Project.Models.EntityModels;
@using System.Text.RegularExpressions;
@model BI_Project.Models.UI.BlockModel
@{

    BlockDataGBTaskCreateModel blockData = (BlockDataGBTaskCreateModel)Model.DataModel;
    var currentStatus = ViewData["currentStatus"].ToString();
}
<style>

    .form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
        padding-top: 0px;
    }
</style>
<!-- /page header -->
<div class="content">
    <div class="row">
        <div class="col-lg-12">
            <!-- /main charts -->
            <div class="panel panel-flat">
                <div class="panel-body">
                    <div class="panel panel-flat">
                        @if (Session["msg_text"] != null)
                        {
                            string class_panel = "panel-danger ";
                            if (Session["msg_code"] != null)
                            {
                                int msgCode = (int)Session["msg_code"];
                                if (msgCode >= 1) { class_panel = " panel-success "; }

                                Session.Remove("msg_code");
                            }
                            <div class="panel  @class_panel">
                                <div class="panel-heading">
                                    @Session["msg_text"]
                                </div>
                            </div>
                            Session.Remove("msg_text");
                        }
                    <div class="panel-body">
                        @using (Html.BeginForm("Confirm", "GBTask", FormMethod.Post, new { data_toggle = "validator", role = "form", enctype = "multipart/form-data" }))
                        {
                            <input type="hidden" name="Id" value="@blockData.Id" />
                            <input type="hidden" name="ReportRequirementId" value="@blockData.ReportRequirementId" />
                            <div class="form-group row">
                                <div class="col-md-20">
                                    <label for="Title" class="col-md-1">Nội dung công việc<span class="required" style="color: red;">*</span></label>
                                    <input type="text" disabled="disabled" class="form-control" id="Title" name="Title" value="@blockData.Title">
                                </div>
                                <div class="col-md-20">
                                    <label for="Deadline" class="col-md-1">Hạn thoàn thành<span class="required" style="color: red;">*</span></label>
                                    <input type="text" disabled="disabled" class="form-control" id="Deadline" name="Deadline" value="@blockData.Deadline">
                                </div>
                                <div class="col-md-20">
                                    <label for="DepartmentCode" class="col-md-1">Ban thực hiện<span class="required" style="color: red;">*</span></label>
                                    <input type="text" disabled="disabled" class="form-control" id="DepartmentCode" name="DepartmentCode" value="@blockData.DepartmentCode">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Comment" class="col-md-1">Tình trạng<span class="required" style="color: red;">*</span></label>
                                <div class="col-md-2">
                                    <select class="select select2-hidden-accessible" id="Status" name="Status" data-live-search="true">
                                        @{
                                            <option value="" hidden selected disabled></option>
                                            if (currentStatus == "0")
                                            {
                                                <option value="0" class="" selected>Chưa hoàn thành</option>

                                                <option value="1" class="">Hoàn thành</option>
                                            }
                                            else if (currentStatus == "1")
                                            {
                                                <option value="1" class="" selected>Hoàn thành</option>
                                                <option value="0" class="">Chưa hoàn thành</option>

                                            }
                                            else
                                            {
                                                <option value="0" class="" selected>Chưa hoàn thành</option>

                                                <option value="1" class="">Hoàn thành</option>
                                            }

                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Comment" class="col-md-1">Kết quả<span class="required" style="color: red;">*</span></label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="Comment" name="Comment" value="@blockData.Comment">
                                </div>
                            </div>
                            <div class="form-group">                                
                                <div class="col-md-10">
                                    <input type="file" name="ImageFile" value="@blockData.ImageFile" required />
                                </div>
                            </div>



                            <br />
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <button type="submit" class="btn btn-success">Cập nhật</button>
                                </div>
                            </div>
                        }
                    </div>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">

        </script>
